<div class="product-tile-container wishlist-tile-container grid__4col" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
  <div>
    <div>
      <a href="{{ product.url }}">
        <div class="wishlist__product-img">
          <img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title }}">
        </div>
      </a>
    </div>
    <div>
      <div>
        <p class="wishlist__product-name">{{ product.title | truncate: 18 }}</p>
        {% if product.compare_at_price > product.price %}
          <p class="wishlist__product-price">
            <span><s>{{ product.compare_at_price | money }}</s></span> <span>{{ product.price | money }}</span>
          </p>
        {% else %}  
          <p class="wishlist__product-price">{{ product.price | money }}</p>
        {% endif %}
      </div>
      <div>
 
        <a href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1" class="button ">Add To Cart</a>
     
      </div>
    </div>
  </div>  
</div>
