{%- assign blog = blogs[section.settings.news_list] -%}

<div id="section-news-list">
  <div class="container">
    <div class="news-list-heading">
      <h2>{{ section.settings.title | escape }}</h2>
      <a href="{{ blog.url }}">一覧を見る</a>
    </div>
      <ul class="news-list">
        {% for article in blog.articles limit: section.settings.post_limit %}
        <li class="news-list-item">
          <a class="news-list-anchor" href="{{ article.url }}">
            <div class="news-list-info">
              {% if section.settings.news_list_date %}
                <span class="news-list-date">{{ article.published_at | date: "%Y &frasl; %m &frasl; %d" }}</span>
              {% endif %}
              {% if section.settings.news_list_category %}
                <span class="news-list-category">{{ article.tags }}</span>
              {% endif %}
            </div>
            <div class="news-list-title">{{ article.title }}</div>
          </a>
        </li>
        {% endfor %}
      </ul>
  </div>
</div>

{% schema %}
{
  "name": "お知らせ一覧",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "見出し",
      "default": "お知らせ一覧"
    },
    {
      "id": "news_list",
      "type": "blog",
      "label": "表示するブログ記事を選択"
    },
    {
      "id": "post_limit",
      "type": "range",
      "label": "表示数を選択",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "id": "news_list_date",
      "type": "checkbox",
      "label": "日付を表示する",
      "default": true
    },
    {
      "id": "news_list_category",
      "type": "checkbox",
      "label": "カテゴリーを表示する",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "お知らせ一覧",
      "category": "お知らせ一覧"
    }
  ]
}
{% endschema %}